.mainContainer {
}

.mainPaper {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
    width: 120vh;
    height: 70vh;
    margin-bottom: 45px;
}

.mainTitle {
    margin: 30px 30px 20px 30px;
    font-size: 24px;
    cursor: pointer;
}

.mainField {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.imgField {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 48px 20px 20px;
}

.mainImg {
    width: 43vh;
    height: 43vh;
}

.borderLine {
    border-right : 1px solid #8F8F8F;
    width: 1px;
    height: 46vh;
}



