.mainContainer {
}

.mainPaper {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
    width: 122vh;
    height: 72vh;
    margin-bottom: 7vh;
}

.mainTitle {
    margin: 3vh 3vh 2vh 3vh;
    font-size: 24px;
    cursor: pointer;
}

.mainField {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgField {
    align-items: center;
    justify-content: center;
    margin: 5vh 8vh 5vh 5vh;
    width: 46vh;
}

.mainImg {
    width: 46vh;
    height: 46vh;
}

.borderLine {
    border-right : 1px solid #8F8F8F;
    width: 1px;
    height: 52vh;
}



