.loginField {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 8vh 6vh 8vh 7vh;
    width: 38vh;
}

.login_inputField > div {
    margin-bottom: 10px;
}

.login_linkField {
    display: flex;
    float: right;
    flex-direction: row;
}

.login_findLink {
    font-size: 12px;
    color: #8F8F8F;
    margin: 0px 1px 0px 1px;
    cursor: pointer;
}

.login_findNoLink {
    font-size: 12px;
    color: #8F8F8F;
    margin: 0px 1px 0px 1px;
}

.login_buttonField {
    margin-top: 5vh;
    margin-bottom: 6vh;
}

.login_buttonField > button {
    margin-top: 3vh;
    font-size: 17px;
    font-weight: 1000;
    letter-spacing: 5px;
}