.loginField {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px 10px 5px 40px;
}

.login_inputField {

}

.login_linkField {
    display: flex;
    flex-direction: row;
    margin: 8px 0px 0px 140px;
}

.login_findLink {
    font-size: 12px;
    color: #8F8F8F;
    margin: 0px 1px 0px 1px;
    cursor: pointer;
}

.login_findNoLink {
    font-size: 12px;
    color: #8F8F8F;
    margin: 0px 1px 0px 1px;
}

.login_buttonField {
    margin: 20px 0px 0px 0px;
}

.login_buttonField > button {
    margin: 10px;
    font-size: 17px;
    font-weight: 1000;
    letter-spacing: 5px;
}